/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.square_played { color: gray; background-color: white; }
.square_selected { color: white; background-color: red; }
.tray .square { font-size: 48pt; border: 1px solid gray; }
.board .square { font-size: 20pt; border: 1px solid gray; }
.board .start_square { background-color: blue; }
.board .double_word { background-color: orange; }
.board .triple_word { background-color: indianred; }
